*{
    margin: 0;
    padding: 0;
}
button{
    border: none;
    outline: none;
    background: none;
}
.content{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(207, 152, 147, 0.8);
}
.content__block{
    width: 100%;
    height: 70%;
    background: #BC7C9C;
}
.content__block--btn{
    width: 7%;
    height: 7%;
    border-radius: 7px;
    background-color:rgba(59, 59, 88, 0.4);
    float: right;
    margin: 2%;
    cursor: pointer;
}
.content__block__photo{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    background: #7A5980;
}
.content__block--main{
    width: 100%;
    height: 100%;
}
.content__scroll-photos{
    width: 100%;
    height: 30%;
    margin: 0 auto;
    background: rgba(169, 109, 163, 0.6);
    display: flex;
    overflow-x: scroll;
}
.content__scroll-photos__block{
    width: 15%;
    height: 80%;
    margin: auto 0;
    padding:  0 30px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
}
.content__scroll-photos__block:hover{
    transform: scale(1.2);
    opacity: 1;
}
.content-slider{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(28, 31, 33, 0.9);
    opacity: 0;
    visibility: hidden
}
.content-slider__block{
    width: 70%;
    height: 80%;
    margin: 5% auto;
}
.content-slider__block--close{
    color: white;
    float: right;
    margin: 1%;
    cursor: pointer;
}
.content-slider__block--close:hover{
    color: #BC7C9C;
}
.content-slider__block--photo{
    width: 80%;
    height: 100%;
    display: flex;
    margin: 0 auto;
}
.show{
    opacity: 1;
    visibility: visible;
}