.block-background{
    background-color: #e5c79e;
}
.block-background__container-content{
    background: #faebd8;
    max-width: 40%;
    position: relative;
    margin: 14% auto;
}
.content__name-game, .content__name-min,
.content__name-max, .content__answer {
    display: flex;
   justify-content: center;
    font-size: x-large;
}
.content__number-min, .content__number-max,
.content__generate, .content__reset{
    display: flex;
    margin: 15px auto;
}
.content__name-game{
    font-size: xxx-large; 
    text-shadow: 1px 1px 2px black, 0 0 10px #656565;
}
.content__number-min:focus, .content__number-max:focus{
   outline:  2px solid rgb(255, 173, 66);
}
.content__number-max{
    border: 3px solid #e9c28c;
}
.content__generate:hover, .content__reset:hover{
    box-shadow: 1px 2px 3px black;
    border-radius: 10%;
}
